
#title{
  background-color: #ff0026;
  color: white;
}
body{
  font-family: Montserrat;
}
.container-fluid{
padding: 3% 15% 7%;
}

h1{
font-family: "Montserrat-Black", sans-serif;
  font-size: 3.5rem;
  font-weight:900;
  line-height: 1.5;

}
h2{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.5;
}
h3{
  font-family: "Montserrat";
  font-weight: 600;
}
p{
  color: #8f8f8f;
}
/* navigation bar */


.navbar{
  padding-bottom: 4.5rem;
}

.navbar-brand{
font-family: Ubuntu;
  font-size: 2.5rem;

}

.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight:normal;
}


/* Download buttons */
.Download-button{
  margin: 5% 3% 5% 0;
}

/* title image */
.title-img{
  width: 60%;
  transform: rotate(25deg);

}



/* Features Section */

#features{
  padding: 7% 15%;
  background-color: #fff;


}
.feature-box{
  padding:5%;
    text-align: center;
}
.icon{
  color: #ff3333;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ff0026;
}

/* testimonials */

#testimonials{
  padding: 7% 15%;
  background-color: #ff3333;
  text-align: center;
  color: #fff;
}
.testimonial-img{
  width: 10%;
  border-radius: 100%;
  margin:20px;
}

#press{
    background-color: #ff3333;
    text-align: center;
    padding-bottom: 3%
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing{
  padding:100px;
  text-align: center;
}

.pricing-column{
  padding:3% 2%;

}
@media (max-width: 990px){
#title{
  text-align: center;
}


  .title-img{
    position: static;
    transform: rotate(0);

  }
}
#cta{
  background-color: #ff0026;
  text-align: center;
  padding: 3rem;
  font-family: "Montserrat";
}
.heading{
  color: #fff


}

#footer{
text-align: center;
margin: 20px 20px 50px;
}
